.item {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(background-color);
}

.item.active {
    display: block;
}

.item .title {
    font-size: 13rem;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.item .fruit {
    width: 90%;
    position: absolute;
    top: 0;
    z-index: 3;
}

.item .refri {
    z-index: 2;
    width: 500px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #eee;
    border: 1px solid #eee;
    font-size: x-large;
    color: #eee9ee;
    cursor: pointer;
    font-weight: bold;
    font-family: monospace;
    z-index: auto;
    border-radius: 50%;
}

#prev {
    left: 30px;
}

#next {
    right: 30px;
}

@keyframes toActive {
    from {
        top: 80%;
        opacity: 0;
    }
}

.item.active img.fruit {
    animation: toActive 0.6s ease-in-out 1;
}

.item.active .title{
    animation: toActive 0.6s ease-in-out 1;
}
